/node_modules
/public/hot
/public/mix-manifest.json
/public/assets/site/css/app.css
/public/assets/site/js/app.js
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.env
.phpunit.result.cache
.htaccess
/composer.lock
